[user]
    name = Lorem Ipsum
    email = lorem_ipsum@email.com
    signingKey = XXXX
[alias]
    st = status
    co = checkout
    com = commit
    f = fetch
[pull]
    ff = only
[core]
    editor = vim
[init]
    defaultBranch = master
[commit]
    gpgSign = true
[tag]
    gpgSign = true
