@import url("./colors.css");
* {
    min-height: 0;

    border: none;
    border-radius: 0;

    font: 14px Hack;
}

window#waybar {
    opacity: 0.9;
    color: @foreground;
    background: @background-darker;
    border-bottom: 2px solid @background;
}

#workspaces button {
    padding: 0 5px;
    color: @foreground;
    background: transparent;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
    box-shadow: inset 0 -3px @foreground;
    text-shadow: inherit;
    background-image: linear-gradient(0deg, @selection, @background-darker);
}

#workspaces button.active {
    background-image: linear-gradient(0deg, @purple, @selection);
}

#workspaces button.urgent {
    background-image: linear-gradient(0deg, @red, @background-darker);
}

label:focus {
    background-color: #000000;
}

#idle_inhibitor,
#backlight,
#pulseaudio,
#network,
#battery,
#clock {
    padding: 0 7px;
    margin: 0 3px;
    color: @foreground;
    border-radius: 3px 3px 3px 3px;
}

#idle_inhibitor.activated {
    background-image: linear-gradient(0deg, @purple, @selection);
}

#network.disconnected {
    background-image: linear-gradient(0deg, @red, @background-darker);
}

#battery.warning:not(.charging) {
  color: @yellow;
}

@keyframes blink {
    to {
        background-image: linear-gradient(0deg, @red, @background-darker);
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
